doctype html
html(lang="en")
  head

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    //- meta(name="description", content=metaDescription)
    //- meta(name="keywords", content=metaKeywords)

    title Pizza.de

    link(rel="stylesheet prefetch", href="/fonts/icons/css/fontello.css")
    //- link(rel="shortcut icon" href="" type="image/x-icon")

    //- block styles

    //- block head
  
  body
    //- block content
    #root

    //- block scripts
