@import "../../../../sass/bootstrap-core";

$restaurant: "restaurant";

@include media-breakpoint-up(md) {
  .#{$restaurant} {
    flex-flow: row;

    &__info {
      padding: 0 0.5rem;
      flex: 1 0;
    }

    &__category {
      margin-bottom: 0.25rem;
    }

    &__cta {
      margin-left: auto;
      align-self: center;
    }
  }
}
