@import "../../../../sass/bootstrap-core";

$restaurant: "restaurant";

.#{$restaurant} {
  display: flex;
  margin-bottom: 1rem;
  border: {
    width: 1px;
    style: solid;
    color: $gray-400;
    radius: 0.25rem;
  }
  color: $body-color;
  padding: 0.5rem;
  flex-flow: column;

  @include box-shadow(0px 2px 2px $gray-400);

  &__logo {
    align-self: center;
    height: 130px;
    border: {
      width: 1px;
      style: solid;
      color: $gray-400;
      radius: 0.25rem;
    }
  }

  &__average-rating {
    font-size: $h5-font-size;
    font-weight: $font-weight-semibold;
    color: $gray-600;
    line-height: 1.2;
  }

  &__location {
    margin-bottom: 0.25rem;
  }

  &__category {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    background-color: $gray-300;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}
